body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#svg{
    display: flex;
    gap: 10px;
    background-color: beige;
    border-radius: 10px;
}
svg {
    width: 40px;
    height: 40px;
    padding: 5px;
}
#circle {
     position: absolute; 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    transition:  .5s ease
    /* will-change: transform;  */
}
.bgclr{
    background-color: black;
}
.h1_darkmode{
 color: white;
}
.dark-mode {
    transform: translateX(calc(100% + 10px));
   
}

